{% extends 'base.html.twig' %}
{% block stylesheet %}
    {{ parent() }}
    <link href="{{ asset('css/homepage.css') }}" rel="stylesheet" >
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <img src="{{ asset('images/logo.png') }}" class="center-block logo" alt="logo">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <a href="{{ path(  role  ) }}"><button  type="button" class="btn btn-lg btn-primary btn-inscription center-block"  >Jouer</button> </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <button type="button" class="btn btn-lg btn-primary btn-inscription center-block" >Accéder au règlements</button>

            </div>
        </div>

    </div>


{% endblock %}