{% extends 'base.html.twig' %}
    {% block stylesheet %}
        <link rel="stylesheet" href="{{ asset('css/joueur.css') }}">
    {% endblock %}

{% block content %}

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <img src="{{ asset('images/logo.png') }}" class="center-block logo" alt="logo">
                </div>
            </div>

            <p>

            </p>
        </div>


{% endblock %}