{% extends 'base.html.twig' %}
    {% block stylesheet %}
        <link rel="stylesheet" href="{{ asset('css/meneur_validation.css') }}">
    {% endblock %}

{% block content %}


    <a class="btn" href="{{ path('changetat') }}">valider la photo</a>


{% endblock %}