<nav class="navbar navbar-fixed-bottom navbar-dark">
    <a class="navbar-brand" href="#">Status</a>
    <a class="navbar-brand" href="{{ path("joueur")}}"><span class="glyphicon glyphicon-user"></span></a>
    <a class="navbar-brand" href="{{ path("classement")}}"><span class="glyphicon glyphicon-education"></span></a>
    <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-remove-circle"></span></a>
</nav>

