{% extends 'base.html.twig' %}

    {% block stylesheet %}
        <link rel="stylesheet" href="{{ asset('css/plateforme.css') }}">
    {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <img src="{{ asset('images/logo.png') }}" class="center-block logo" alt="logo">
            </div>
        </div>
        <div class="text-center reglement">
           <h2>Règlements du jeu</h2>
            <h3>1ère Règle</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi culpa dicta exercitationem in neque nesciunt nobis reiciendis. Accusamus alias aliquid dicta doloremque ex nobis porro quaerat vero! Consequuntur ipsum, quibusdam?
            </p>
            <h3>2ème Règle</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, aliquam, commodi facilis fugit maxime nam porro quaerat reiciendis tenetur unde velit veniam voluptate, voluptatibus? Assumenda doloribus enim hic officia praesentium?
            </p>
        </div>
    </div>

{% endblock %}