{% extends 'base.html.twig' %}

    {% block stylesheet %}
        <link rel="stylesheet" href="{{ asset('css/status.css') }}">
    {% endblock %}

{% block content %}

    <div class="row">
        <div class="col-sm-12">
            <a href="{{ path("index")}}"><button  type="button" class="btn btn-lg btn-primary btn-inscription center-block"  >Retour à l'accueil</button> </a>
        </div>
    </div>

{% endblock %}