

body{
    background-image:url("../images/background-photo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height:100%;
    text-align: center;
}

.logo{
    padding-top: 9em;
}
html{
    height:100%;
}

a:link{
    text-decoration: none;
}
#tailletexte{
    font-size: 30px;
}