body{
    background-image:url("../images/background-photo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height:100%;
}

.logo{
    padding-top: 9em;
}
html{
    height:100%;
}
#profile{
    color: white;
    font-weight: 700;
    font-size:15px;
    margin-top: 55px;
    text-align: center;
}
.telechargement{
    margin-top: 12em;
    /*max-width: 20%;*/
    /*overflow: hidden;*/
    text-overflow: ellipsis;

}

a:link{
    text-decoration: none;
}
.paddingprofile{
    padding-top:3px;
}

.title {
    color: white;
}

.card {
    background-color: rgba(255, 255, 255, 0.8);
}

.remember {
    color: grey;
}