body{
    background-image:url("../images/background-photo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height:100%;
}

.logo{
    padding-top: 9em;
}
html{
    height:100%;
}
