{% trans_default_domain 'FOSUserBundle' %}


{% block content %}
<div class="container">
    <div class="card"></div>
    <div class="card">

        <h1 class="title h1">Register</h1>
        <div class="form1">
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

        {{ form_widget(form) }}
    <div>

        <input type="submit" value="{{ 'registration.submit'|trans }}" />
        </div><div class="input-container">
    </div>
{{ form_end(form) }}
    </div>

</div>
</div>

{% endblock %}

